* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f3f3f3;
    color: #333;
}


header {
    background: #4b79a1;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

header h1 {
    font-size: 32px;
}

header p {
    font-size: 18px;
    margin-top: 5px;
}

nav {
    background: #333;
    text-align: center;
    padding: 12px;
}

nav a {
    color: white;
    margin: 0 18px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    color: #4b79a1;
}


.container {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

h2 {
    margin-bottom: 15px;
    color: #4b79a1;
}

ul {
    list-style: none;
}

ul li {
    background: #4b79a1;
    color: white;
    display: inline-block;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 5px;
}

.project-card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.12);
}

.project-card h3 {
    margin-bottom: 8px;
}

footer {
    text-align: center;
    background: #333;
    color: white;
    padding: 15px;
    margin-top: 20px;
}
